:root {
    --disabled-background: #D3D3D3;
    --submit-background: #55AB5C;
    --submit-background-hover: #448949;
    --delete-background: #ed6a5a;
    --delete-background-hover: #e8402c;
    --edit-background: #edb45a;
    --edit-background-hover: #E89F2C;
}
.todo__button {
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 400ms;
    padding: 3px 25px;
    margin: 5px;
    font-size: 14px;
}
.todo__button:hover {
    cursor: pointer;
    transition: background-color 400ms;
}
.todo__button[disabled] {
    background-color: var(--disabled-background);
    cursor: not-allowed;
}
.todo__button[disabled]:hover {
    background-color: var(--disabled-background);
}
.todo__button--submit {
    background-color: var(--submit-background);
    color: #ffffff;
}
.todo__button--submit:hover {
    background-color: var(--submit-background-hover);
}
.todo__button--delete {
    background-color: var(--delete-background);
    color: #ffffff;
}
.todo__button--delete:hover {
    background-color: var(--delete-background-hover);
}
.todo__button--edit {
    background-color: var(--edit-background);
    color: #ffffff;
}
.todo__button--edit:hover {
    background-color: var(--edit-background-hover);
}