.todo-list__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000
}
.light .todo-list__stats {
    color: #000000
}
.dark .todo-list__stats {
    color: #ffffff
}
.todo-list__stats > p {
    width: 50%;
    text-align: center;
}
.todo-list__stats > p span {
    font-weight: 700;
}
.todo-paragraph--empty {
    text-align: center;
}
.todo-list {
    padding: 5px;
}
.todo-item {
    color: #000000;
}
.light .todo-item {
    color: #000000;
}
.dark .todo-item {
    color: #ffffff;
}
.todo-item__setting {
    min-width: 200px;
}
.todo-item {
    display: flex;
    justify-content: space-between;
}